:host {
  display: block;
  width: 100%;
  text-wrap: nowrap;
}

ul {
  margin: 0 auto;
  display: flex;
  padding-block: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  max-width: 100vw;
  &::-webkit-scrollbar {
    display: none;
  }
}

li {
  cursor: pointer;

  &:not(:last-child):after{
    content: '|';
    font-weight: 600;
  }

  &:hover {
    text-decoration: underline;
  }
}
