<table>
  <thead>
    <th>cover</th>
    <th>title</th>
    <th>author</th>
    <th>date added</th>
    <th>price</th>
    <th>quantity</th>
  </thead>
  <tbody>
    <tr *ngIf="books.length === 0">
      <h1>Your cart is empty</h1>
    </tr>
    <tr *ngFor="let book of books; let i = index; trackBy: trackBy">
      <td>
        <label for="cover">cover</label>
        <a class="book-cover-container" [routerLink]="['', book.id]">
          <img [src]="book.imgUrl" [alt]="book.title" />
        </a>
      </td>
      <td>
        <label for="title">title</label>
        <a class="book-title-container" [routerLink]="['', book.id]">{{
          book.title
        }}</a>
      </td>
      <td>
        <label for="author">author</label>
        <a class="book-author-container" [routerLink]="['', book.id]">{{
          book.author
        }}</a>
      </td>
      <td>
        <label for="date added">date added</label>
        <p class="book-date-added-container">
          {{ cartItems[i].dateAdded | date }}
        </p>
      </td>
      <td>
        <label for="price">price</label>
        <p class="book-price">
          {{ book.price | currency }}
        </p>
      </td>
      <td>
        <div class="book-quantity-container">
          <label for="quantity">quantity</label>
          <button class="remove-btn" (click)="removeOne(book.id)">-</button>
          <p class="book-quantity">
            {{ cartItems[i].quantity }}
          </p>
          <button class="add-btn" (click)="addToCart($event, book.id)">
            +
          </button>
          <button class="remove-item-btn" (click)="remove(book.id)">
            <app-trash-btn />
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    sum:
    {{
      cartSum() | currency
    }}
    <button class="purchase-btn" (click)="onPurchase()">Purcase</button>
  </tfoot>
</table>
<div class="modal" [ngClass]="{ open: isModalOpen }">
  <h1>Thank you for your purchase!</h1>
</div>
