@use "../../../assets/styles/setup/_variables.scss" as *;

:host {
  display: block;
  padding-block: 20px;
}

table {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

th {
  text-align: start;
}

img {
  max-width: 100px;
}

label {
  display: none;
}

tr {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

td {
  padding-block: 18px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: inherit;
  }
}

.book-quantity-container {
  display: flex;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 10px;
  }
}

.remove-item-btn > * {
  height: 40px;
  width: 40px;
}

.purchase-btn {
  text-transform: capitalize;
  border: 0;
  border-radius: 8px;
  margin: 14px;
  background-color: $background-color;
  color: whitesmoke;
  font-weight: 600;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 30vw;
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 18px;
  opacity: 0;
  transition: opacity 500ms ease-in-out;

  &.open{
    opacity: 1;
  }
}