@use "../../../../../assets/styles/setup/_variables.scss" as *;
@use "../../../../../assets/styles/setup/_mixins.scss" as *;

:host {
  display: block;
  padding: 24px 0;
}

header{
  margin-inline: 38px;
  display: flex;
  h1{
    width: 90%;
  }

  .add-book-btn{
    width: 10%;
    border: 0;
    border-radius: 8px;
    background-color: $background-color;
    color: whitesmoke;
    font-weight: 600;
  }
}

.list-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 14px;
  color: $background-color;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  min-height: 100%;
  padding: 0;
  gap: 3px;

  @media (max-width: 768px) {
    gap: 5px;
    justify-content: center;
  }

  @media (min-width: 1024px) {
    justify-content: flex-start;
  }
}

li {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 306px;
  padding: 24px;
  margin-bottom: 30px;
  cursor: pointer;

  img {
    margin-bottom: 14px;
  }

  .delete-btn,
  .edit-btn {
    opacity: 0;
    position: absolute;
    font-weight: 700;
    top: 5px;
  }

  .delete-btn {
    left: 10px;
    color: red;
  }

  .edit-btn {
    right: 10px;
    color: wheat;
  }

  &:hover .delete-btn,
  &:hover .edit-btn {
    opacity: 1;
  }
  @media (max-width: 768px) {
    padding: 16px;
  }
}

img {
  width: 100%;
  aspect-ratio: 3/4;
}

h1 {
  font-size: 1.2rem;
  line-height: 1.2;
}

h2 {
  font-size: 0.875rem;
  font-weight: 500;
}

h1,
h2 {
  font-family: "EB Garamond", serif;
}

.category {
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.paging-container {
  background-color: whitesmoke;
  max-width: max-content;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border: 0.5px solid rgba(0, 0, 0, 0.342);
}

.paging-btn {
  padding: 0 6px;
  border: 0;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: transparent;
}
.active {
  background-color: #85aa64;
  color: white;
}

.add-to-cart-btn {
  display: block;
  padding: 8px 11px;
  // margin: 15px auto 0;
  background-color: #85aa64;
  color: whitesmoke;
  border: 0;
  border-radius: 12px;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.1s ease-in-out;
  width: 100%;
  margin-top: auto;
  align-self: flex-start;
  justify-self: baseline;
  &:active {
    transform: scale(0.9);
  }

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 9px 20%;
    max-width: 80%;
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    font-size: 1rem;
    padding: 10px 14px;
  }
}

@media (max-width: 480px) {
  li {
    max-width: 100%;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 768px) {
  ul {
    max-width: 100%;
    justify-content: center;
  }
  li {
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  ul {
    max-width: 1246px;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  ul {
    max-width: 1600px;
  }
}
