<ul>
  <li *ngFor="let book of books">
    <img src="{{ book.imgUrl }}" alt="{{ book.title }}" />
    <h1>{{ book.title | titlecase }}</h1>
    <h2>by {{ book.author }}</h2>
    <p>{{ book.category }}</p>
    <p>{{ book.price | currency : "USD" }}</p>
  </li>
</ul>
<div class="paging-container">
  <button (click)="onChangePage(-1, true)" class="paging-btn">prev</button>
  <button
    *ngFor="let i of [].constructor(maxPages); let index = index"
    class="paging-btn"
    [ngClass]="{ active: filterBy.pageIdx === index + 1 }"
    (click)="onChangePage(index + 1)"
  >
    {{ index + 1 }}
  </button>
  <button class="paging-btn" (click)="onChangePage(1, true)">next</button>
</div>
