<header>
  <button class="add-book-btn" *ngIf="isAdmin" (click)="onAddBook()">
    Add book
  </button>
  <h1 class="list-title" [ngClass]="{ admin: isAdmin }">Our Books</h1>
</header>
<ul *ngIf="!isLoading">
  <li *ngFor="let book of books" [routerLink]="['/book', book.id]">
    <div
      class="delete-btn"
      *ngIf="isAdmin"
      (click)="deleteBook($event, book.id)"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
    </div>
    <div class="edit-btn" *ngIf="isAdmin" (click)="editBook($event, book)">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
    </div>
    <img src="{{ book.imgUrl }}" alt="{{ book.title }}" />
    <h1>{{ book.title | titlecase }}</h1>
    <h2>by {{ book.author?.name }}</h2>
    <p class="category">{{ book.category }}</p>
    <button class="add-to-cart-btn" (click)="addToCart($event, book.id)">
      Add to cart {{ book.price | currency }}
    </button>
  </li>
</ul>
<ul *ngIf="isLoading">
  <app-book-loader *ngFor="let i of getLoadingBooks()" />
</ul>
<div class="paging-container">
  <button (click)="onChangePage(-1, true)" class="paging-btn">prev</button>
  <button
    *ngFor="let i of getPages(); let index = index"
    class="paging-btn"
    [ngClass]="{ active: filterBy.page === index + 1 }"
    (click)="onChangePage(index + 1)"
  >
    {{ index + 1 }}
  </button>
  <button class="paging-btn" (click)="onChangePage(1, true)">next</button>
</div>
<app-modal
  *ngIf="isAdmin && bookToEdit.price"
  [book]="bookToEdit"
  (onSave)="saveBook($event)"
  (onClose)="onCloseModal()"
/>
