/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  color: #1e1915;
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

input {
  background-color: #e9ebf0;
  background-clip: padding-box;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 0;
  padding: 16px;
  &::placeholder {
    text-transform: capitalize;
  }
}

button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  padding: 16px;

  &:disabled {
    cursor: not-allowed;
  }

  span {
    display: block;
    text-align: center;
    transform: skewX(20deg);
    padding: 0 16px;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
  }
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
ul {
  list-style: none;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: inherit;
  }
}