@mixin button-style($color) {
  background-color: $color;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: 0 solid transparent;
  transition: all 0.2s ease-in-out;

  &:active {
    transform: scale(0.9);
  }
}

@mixin book-cover-border {
  border-radius: 0 6% 6% 0 / 4%;
  overflow: hidden;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.2));
}
