$accent-color: #f4f1ea;
$accent-color-dark: #9f0013;
$border-color-primary: #151515;
$border-color-secondary: #393939;
$background-color: #202020;

$text-primary: #1e1915;

$white: #fff;

$layout-width: 1280px;