<form #loginForm="ngForm" (ngSubmit)="handleSubmit(loginForm)">
  <div class="input-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        type="text"
        #Email="ngModel"
        name="userName"
        [(ngModel)]="email"
        ngModel
        required
      />
      <mat-error> Please enter your email. </mat-error>
    </mat-form-field>
  </div>
  <div class="input-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        [(ngModel)]="password"
        #Password="ngModel"
        required
      />
      <mat-error> Please enter your password. </mat-error>
    </mat-form-field>
  </div>
  <span *ngIf="loginForm.submitted && !isUserValid" class="input-error">
    The email or password you entered is incorrect. Please try again.
  </span>
  <button type="submit" [disabled]="!loginForm.valid">
    <span>Login</span>
  </button>
</form>
