<mat-card class="account-card">
  <mat-card-title>Edit User Details</mat-card-title>
  <mat-card-content>
    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter first name"
          formControlName="firstName"
        />
        <mat-error>First name cannot be empty</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter last name"
          formControlName="lastName"
        />
        <mat-error>Last name cannot be empty</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Enter email"
          formControlName="email"
        />
        <mat-error>{{ getEmailErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="******"
          formControlName="password"
        />
        <mat-error>{{ getPasswordErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="******"
          formControlName="confirmPassword"
        />
        <mat-error>{{ getConfirmPasswordErrorMessage() }}</mat-error>
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">
          Save Changes
        </button>
        <button
          mat-stroked-button
          color="warn"
          type="button"
          (click)="onCancelChanges()"
        >
          Cancel
        </button>
        <button
          mat-stroked-button
          color="warn"
          type="button"
          (click)="onLogout()"
        >
          Logout
        </button>
        <button
          mat-stroked-button
          color="warn"
          class="delete-account-btn"
          type="button"
          (click)="onDelete()"
        >
          Delete account
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>