@use "../../../../../assets/styles/setup/variables" as *;
@use "../../../../../assets/styles/setup/_mixins.scss" as *;

:host {
  display: flex;
  max-width: calc($layout-width - 20px);
  width: 87.5%;
  margin: 0 auto;
  padding-block: 70px;
}
.picture-container {
  width: 20%;
  display: flex;
  flex-direction: column;

  img {
    aspect-ratio: 3/4;
  }
}

.info-container {
  width: 80%;
  padding-inline: 100px 90px;

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
  }

  h1,
  h2 {
    font-family: "EB Garamond", serif;
  }
}

img {
  max-height: 316px;
  margin-bottom: 20px;
  @include book-cover-border;
}
.add-to-cart-btn {
  display: block;
  padding: 8px 11px;
  font-size: 1.2rem;
  background-color: #85aa64;
  color: whitesmoke;
  border: 0;
  border-radius: 12px;
  font-weight: 600;
  transition: all 0.1s ease-in-out;

  &:active {
    transform: scale(0.9);
  }
}

.description {
  margin-bottom: 20px;
  font-size: 1.1rem;
  line-height: 1.5;
}
